.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #cfeaf1;
  background-size: contain;
  background-blend-mode: saturation;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logospoon{
  height: 80px;
  width: 80px;

}

h1 {
font-size: 50px;
text-align: center;
margin: 0 auto;
}

p {
  text-align: center;
  margin: 0 auto;
}
.Container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin: 30px;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px */

}

.RecipeCard:hover {
  text-transform: capitalize;
  transform: scale(1.1, 1.1);
  box-shadow: 0px 30px 60px;
  image-orientation:

}

a {
  text-decoration: none;
  color: black;
}

.RecipeCard {
  border: 3px black solid;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  margin: 10px;
}

.RecipeCard h2 {
    font-family: 'Permanent Marker', cursive;
}

img {

  width: 200px;
  height: 150px;
}
